mat-sidenav-container {
    height: 100%;
}

.menu-item {
    margin-left: 6px;
}

.chevron-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.chevron-button.rotated {
    transform: rotate(180deg);;
}

.example-spacer {
    flex: 1 1 auto;
}


.mat-list-item{
    /* background-color: bisque; */
    color: brown;
}

/* .mat-nav-list{
    background-color: aqua;
} */ 
