.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(80, 37, 150);
    color: white;
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

.navbar {
    justify-content: space-between;
}

.spacer {
    flex: 1 1 auto;
}


.center {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    height: 88vh;
  }
  
  
  .center h1{
    align-self: center;
  }

.alignc{
    align-self: center;
}