<h3 mat-dialog-title>New Account Form</h3>


<div class="example-container">

<form [formGroup]="openAccountForm">
<mat-radio-group formControlName="acctType" aria-label="Select an option">
    <mat-label>Account Type </mat-label>
    <mat-radio-button *ngFor="let act of acctTypeList" [value]="act">
        {{act}}
    </mat-radio-button>
  </mat-radio-group>

<mat-divider class="div-no-color"></mat-divider>


<table class="example-full-width" cellspacing="0">
    <tr>
        <td>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input formControlName="firstName" matInput placeholder="Enter Your First Name" required>
                <mat-hint></mat-hint>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="outline">
                <mat-label>Middle Name</mat-label>
                <input formControlName="middleName" matInput placeholder="Enter Your Middle Name">
                <mat-hint></mat-hint>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastName" matInput placeholder="Enter Your Last Name">
                <mat-hint></mat-hint>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option *ngFor="let gndr of genderTypeList" [value]="gndr">{{gndr}}</mat-option>
                </mat-select>
                <mat-hint align="end">select from dropdown arrow ^</mat-hint>
              </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input formControlName="dob" matInput [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint>mm/dd/yyyy</mat-hint>
              </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="outline">
                <mat-label>Place of Birth</mat-label>
                <input formControlName="pob" matInput placeholder="Birth Place">
                <mat-hint></mat-hint>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field hintLabel="Max 12 characters" appearance="outline">
                <mat-label>Contact No</mat-label>
                <input formControlName="contactNo" matInput #contactNo maxlength="12" placeholder="Mobile No">
                <mat-hint align="end">{{contactNo.value?.length || 0}}/12</mat-hint>
              </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="example-container" appearance="outline">
                <mat-label>Address</mat-label>
                <textarea formControlName="address" matInput placeholder="Ex. 100 Main St"></textarea>
            </mat-form-field>
        </td>
        <td>
                <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>City</mat-label>
                <input formControlName="city" matInput placeholder="Ex. Hyderabad" required>
            </mat-form-field>
        </td>
            <td>
                <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>State</mat-label>
                <input formControlName="state" matInput placeholder="Ex. Telangana" required>
            </mat-form-field>
        </td>
            <td>
                <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>PIN Code</mat-label>
                <input formControlName="pincode" matInput #postalCode maxlength="6" placeholder="Ex. 123456" required>
                <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
            </mat-form-field>
        </td>
    </tr>
</table>
</form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="openNewAccount()">Open Account</button>
</div>

<!-- <app-footer></app-footer> -->